---
dependency:
  name: galaxy
  options:
    role-file: molecule/common/requirements.yml
    requirements-file: molecule/common/requirements.yml
    force: False

driver:
  name: vagrant
  provider:
    name: virtualbox

lint: |
  set -e
  yamllint .
  ansible-lint --project-dir . -vv
  flake8 --exclude "molecule/**/tests/*"

platforms:
  - name: "centos7-${MOLECULE_SCENARIO_NAME}-ssl-filtering"
    box: bento/centos-7
    memory: 512
    cpus: 1
    config_options:
      synced_folder: true
      ssh.keep_alive: true
      "vm.box_download_insecure": "true"
    groups:
      - os_centos_7
      - vm_vagrant

provisioner:
  name: ansible
  log: True
  config_options:
    defaults:
      timeout: 60
      stdout_callback: yaml
      bin_ansible_callbacks: True
      callback_whitelist: profile_tasks, timer, yaml
    ssh_connection:
      pipelining: True
      ssh_args: -C -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes -o PreferredAuthentications=publickey
      retries: 3
    galaxy:
      display_progress: False
  inventory:
    links:
      group_vars: ../common/group_vars
  playbooks:
    converge: ../common/converge.yml

verifier:
  name: testinfra
  directory: ../common/tests
  lint:
    name: flake8
  options:
    v: 1
